.general {
  background-image: url("./aula.jpg");
  background-size: auto;
  -webkit-background-size: cover !important;

}

.item{
  margin-left: 10%;
  width: 80%;
}

.full{
  height: 100vh;
}

.welcome {
  text-align: center;
}

.window {
  padding: 2em;
  padding-bottom: 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, .5);
}

.login-form-forgot {
  float: right;
}
.login-form-button {
  margin-left: 10%;
  width: 80%;
}